<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="doPrint()">
        <ion-icon name="md-print" style="font-size:35px;"></ion-icon>
      </button>
    </div>
    <button ion-button clear color="light" (click)="closeModal()">
      Close
    </button>
    <ion-title class="side-title">
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-barcode">
  <ion-card>
    <ion-card-header style="text-align:center;">
      No Order : {{orderno}} - Batch Number : {{batchno}} - Item No : {{itemno}} Qty : {{qty}}
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col style="border:1px solid;border-color:#dedede;" col-md-12 col-xl-2 *ngFor="let i of arr">
          <qr-code [(value)]="itemno" size="250" [level]="H"></qr-code>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>