page-barcodelist {
}
@media print {
    .header-menu {
        display:none
    }
    .header-navbar {
        display:none
    }
    .logo-search {
        display:none
    }
    .side-title {
        display:none
    }
    .scroll-content {
        overflow-y: hidden;    
    }
    .content-barcode {
        margin-top: -70px;
    }
  }
