page-location {
    .header-menu {
        padding: 0px;
        height: 70px;
    }
    .header-navbar {

    }
    .header-title-menu {
       text-align: left;
       font-size: 17px;
       font-family: "Roboto", "Helvetica Neue", sans-serif;
       background: #ee1c26;
       color: #ffffff;
   }
   .content-body-menu {

   }
   .col-location {
       background: #ffffff;
       border: 1px solid;
       border-color: #ececec;
   }
}
