<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <ion-icon name="md-search" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div *ngIf="toggled" style="text-align:right;height:0px;">
      <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="toggleSearch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="http://101.255.60.202/webapi/img/logoatriawhite" height="45" />
      </div>
      <div *ngIf="toggled" class="content-search" style="width:100%;">
        <ion-searchbar (ionInput)="getSearchPO($event)" placeholder="Search"></ion-searchbar>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="detailpo">
    <ion-segment-button value="detailpoitem">
      Detail Items PO
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="detailpo">
    <div>
      <ion-item no-lines class="toolbar-scroll">Showing {{totaldata}} entries</ion-item>
    </div>
    <ion-list class="content-list-menu" *ngSwitchCase="'detailpoitem'">
      <ion-item class="content-data-item" *ngFor="let detailpo of purchasing_order_detail">
        <ion-avatar item-start>
          <img src="http://101.255.60.202/webapi/img/noimage" alt="">
        </ion-avatar>
        <div no-padding>
          <h2>No Item : {{detailpo.item_no}}</h2>
          <ion-note>PIC : {{detailpo.receiving_pic}}</ion-note>
          <br/>
          <ion-note>Location : {{detailpo.position}}</ion-note>
          <br/>
          <ion-note>Qty : {{detailpo.qty}}</ion-note>
          <br/>
        </div>
        <button item-end ion-button clear color="greenlake" (click)="doOpenToTL(detailpo)">
          <ion-icon name="md-open" style="font-size:30px;"></ion-icon>
        </button>
        <button *ngIf="status == 'INP2'" item-end ion-button clear color="greenlake" (click)="doListBarcode(detailpo)">
          <ion-icon name="md-barcode" style="font-size:30px;"></ion-icon>
        </button>
        <button *ngIf="status == 'INP2'" item-end ion-button clear color="greenlake" (click)="doPostingRCV(detailpo)">
          <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'history'">
      <ion-item>

      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="closeModal" (click)="doOffToTL()">&times;</span>
      <form [formGroup]="myFormModal">
        <ion-list no-lines>
          <ion-item *ngIf="status == 'INP1'" class="item-rcv" style="border:0px;">
            <ion-label floating>PIC</ion-label>
            <ion-select formControlName="pic">
              <ion-option *ngFor="let user of users" value="{{user.id_user}}">{{user.id_user}} {{user.nama}} {{user.id_role}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="status == 'INP2'" class="item-rc" style="border:0px;">
            <ion-label floating>LOCATION</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
            <ion-icon class="icon-search" item-end name="md-search" (click)="doOpenLocation();"></ion-icon>
          </ion-item>
        </ion-list>
      </form>
      <button ion-button block color="greenlake" (click)="doSendToTL();">Save</button>
    </div>
  </div>

</ion-content>