<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <ion-icon name="md-search" style="font-size:35px;"></ion-icon>
      </button>
    </div>
    <div *ngIf="toggled" style="text-align:right;height:0px;">
      <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="toggleSearch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="assets/imgs/logoatriawhite.png" height="45" />
      </div>
      <div *ngIf="toggled" class="content-search" style="width:100%;">
        <ion-searchbar (ionInput)="getSearchQCDetail($event)" placeholder="Search"></ion-searchbar>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-segment [(ngModel)]="qc">
    <ion-segment-button value="qcin">
      Quality Control
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="qc">
    <ion-list class="content-list-menu" *ngSwitchCase="'qcin'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <ion-card *ngFor="let qc of quality_control">
        <ion-item-sliding #item>
          <ion-item (click)="viewDetail(qc)">
            <h3 style="font-weight:bold;padding-bottom:5px;">ORDER NO - {{qc.order_no}}</h3>
            <p>Vendor No: {{qc.vendor_no}}</p>
            <p>Vendor Status: {{qc.vendor_status}}</p>
            <p>Description: {{qc.posting_desc}}</p>
            <ion-note item-end>{{qc.posting_date}}</ion-note>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="greenlake" (click)="doPosting(qc)" style="font-weight:bold;"><ion-icon name="md-checkmark-circle-outline" style="font-weight:bold;font-size:30px"></ion-icon>POSTING</button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-row class="cardfooter">
          <ion-col style="border-top:1px solid;border-color:#dedede;background:#ffffff">
            <p style="padding-left:10px;color:rgb(0, 0, 0);font-weight:bold;">{{qc.qc_status}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- <ion-item class="content-data-item" *ngFor="let qc of quality_control">
        <ion-avatar item-start>
          <img src="assets/imgs/noimage.jpg" alt="">
        </ion-avatar>
        <div no-padding (click)="viewDetail(qc)">
          <h2>No Order : {{qc.order_no}}</h2>
          <ion-note>{{qc.posting_date}} | Items : {{qc.total_item}}</ion-note>
        </div>
      </ion-item> -->
    </ion-list>
    <ion-list *ngSwitchCase="'history'">
      <ion-item>

      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>