<ion-header id="myHeader" class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <ion-icon name="md-search" style="font-size:35px;"></ion-icon>
      </button>
    </div>
    <div *ngIf="toggled" style="text-align:right;height:0px;">
      <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="toggleSearch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="http://101.255.60.202/webapi/img/logoatriawhite" height="45" />
      </div>
      <div *ngIf="toggled" class="content-search" style="width:100%;">
        <ion-searchbar (ionInput)="getSearchQCDetail($event)" placeholder="Search"></ion-searchbar>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-segment [(ngModel)]="qc">
    <ion-segment-button value="qcin">
      QC Checks
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="qc">
    <ion-list class="content-list-menu" *ngSwitchCase="'qcin'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <ion-card *ngFor="let qc of quality_control">
        <ion-item (click)="doDetailQC(qc)">
          <h3 style="font-weight:bold;padding-bottom:5px;">ITEM NO - {{qc.item_no}}</h3>
          <p>Order No: {{qc.order_no}}</p>
          <p>Receiving No: {{qc.receiving_no}}</p>
          <p>Qty: {{qc.qty}} | Qty Checked: {{qc.qty_checked}}</p>
          <ion-note item-end>{{qc.batch_no}}</ion-note>
        </ion-item>
        <div *ngIf="detailqc && qc.item_no == qclist" style="border-top:1px solid;border-color:#dedede;background:#ffffff;">
          <div padding style="font-weight:bold;">
            Inspection Result
          </div>
          <ion-grid>
            <ion-row>
              <ion-col col-12 style="border-top:1px solid;border-color:#dedede;">
                <ion-row>
                  <ion-col>Date Inspection</ion-col>
                  <ion-col>Time Inspection</ion-col>
                  <ion-col>PIC Inspection</ion-col>
                  <ion-col>Status</ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngFor="let result of qcresult" col-12 style="border-top:1px solid;border-color:#dedede;">
                <ion-row (click)="doDetail();">
                  <ion-col style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{result.date_finish}}</ion-col>
                  <ion-col style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{result.time_finish}}</ion-col>
                  <ion-col style="border-right:1px solid;border-top:0px;border-left:0px;border-color:#dedede">{{result.qc_pic}}</ion-col>
                  <ion-col style="color:green">{{result.qc_status}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-row class="cardfooter">
          <ion-col style="border-top:1px solid;border-color:#dedede;background:#ffffff">
            <p style="padding-left:10px;color:blue;font-weight:bold;">{{qc.qc_status}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'history'">
      <ion-item>

      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<div id="myQCChecking" class="modal-checking">
  <div class="modal-content-checking">
    <ion-header class="header-menu">
      <ion-navbar class="header-navbar" style="width:100%;">
        <div style="text-align:right;height:0px;">
          <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="doOffChecking()">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </div>
        <ion-title class="side-title">
          <div class="logo-atria" style="margin-left:56px;">
            <img src="assets/imgs/logoatriawhite.png" height="45" />
          </div>
        </ion-title>
      </ion-navbar>
    </ion-header>
    <ion-content class="content-checking">  
      <ion-list radio-group [(ngModel)]="functionality">
        <ion-item no-lines style="border-bottom:1px solid;border-color:#dedede;" (click)="dofunctionality();">
          Appearance / Functionality
        </ion-item>
        <div *ngIf="functionality" style="margin-left:10px;">
          <ion-item>
            <ion-label>Conform</ion-label>
            <ion-radio value="conform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Conform</ion-label>
            <ion-radio value="notconform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio value="pending"></ion-radio>
          </ion-item>
        </div>
      </ion-list>
      <ion-list radio-group [(ngModel)]="productstyle" >
        <ion-item no-lines style="border-bottom:1px solid;border-color:#dedede;" (click)="doproductstyle();">
          Product Style and Color
        </ion-item>
        <div *ngIf="productstyle" style="margin-left:10px;">
          <ion-item>
            <ion-label>Conform</ion-label>
            <ion-radio value="conform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Conform</ion-label>
            <ion-radio value="notconform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio value="pending"></ion-radio>
          </ion-item>
        </div>
      </ion-list>
      <ion-list radio-group [(ngModel)]="datameasurement">
        <ion-item no-lines style="border-bottom:1px solid;border-color:#dedede;" (click)="dodatameasurement();">
          Data Measurement
        </ion-item>
        <div *ngIf="datameasurement" style="margin-left:10px;">
          <ion-item>
            <ion-label>Conform</ion-label>
            <ion-radio value="conform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Conform</ion-label>
            <ion-radio value="notconform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio value="pending"></ion-radio>
          </ion-item>
        </div>
      </ion-list>
      <ion-list radio-group [(ngModel)]="packaging">
        <ion-item no-lines style="border-bottom:1px solid;border-color:#dedede;" (click)="dopackaging();">
          Packaging
        </ion-item>
        <div *ngIf="packaging" style="margin-left:10px;">
          <ion-item>
            <ion-label>Conform</ion-label>
            <ion-radio value="conform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Conform</ion-label>
            <ion-radio value="notconform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio value="pending"></ion-radio>
          </ion-item>
        </div>
      </ion-list>
      <ion-list radio-group [(ngModel)]="shippingmark">
        <ion-item no-lines style="border-bottom:1px solid;border-color:#dedede;" (click)="doshippingmark();">
          Shipping mark
        </ion-item>
        <div *ngIf="shippingmark" style="margin-left:10px;">
          <ion-item>
            <ion-label>Conform</ion-label>
            <ion-radio value="conform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Not Conform</ion-label>
            <ion-radio value="notconform"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Pending</ion-label>
            <ion-radio value="pending"></ion-radio>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </div>
</div>

<div [ngSwitch]="button">
  <ion-fab *ngSwitchCase="'qcin'" class="fixed-div" bottom right>
    <button ion-fab color="greenlake" (click)="doChecked()">
      <ion-icon name="md-barcode"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngSwitchCase="'qccheck'" class="fixed-div" bottom right>
    <button ion-fab color="greenlake" (click)="doCamera()">
      <ion-icon name="md-camera"></ion-icon>
    </button>
  </ion-fab>
</div>