page-home {

    .header-menu {
        padding: 0px;
        height: 70px;
    }
    .header-navbar {

    }
    .header-title-menu {
       text-align: left;
       font-size: 17px;
       font-family: "Roboto", "Helvetica Neue", sans-serif;
       background: #ee1c26;
       color: #ffffff;
   }
   .content-body-menu {

   }
   .content {
    background: #9e9fa1;
   }
   .item-list {
    background: #9e9fa1;
   }
   .col {
    background:#9e9fa1;
    border-top: 0.5px solid;
    border-bottom: 0px solid;
    border-left: 0px;
    border-right: 0px;
    border-color: #dedede;
   }
}
