page-receivingdetailupdate {
    .header-title-menu {
        text-align: left;
        font-size: 17px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        color: #ffffff;
    }
    .title-header-location {
        text-align: center;
    }
     .close {
         text-align: left;
         color: #ffffff;
         height: 0px;
     }
     .logo-atria {
        text-align: center;
        margin-left: 50px;
     }
     .block {
        position: relative;
        .deleteIcon {
          position: absolute !important;
          color: #ffffff !important;
          margin-left: 80% !important;
        }
        .deleteIcon:before {
          font-size: 30px !important;
        }
        }
     .item-rcv {
         background: #ffffff;
         color: #000000;
         border: 1px solid;
         border-color: #217481;
     }
     textarea {
        height: 100%;
        color: inherit;
        overflow: auto;
        font: inherit;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        width: 100%;
        height: 100px;
    }
}
