ion-input {
    border-bottom: 1px solid rgb(202, 200, 200);
 }
.header .col {
    background: linear-gradient(180deg, #d1d1d1 30%, #e6e6e6);
}

.col {
    border: solid 1px #ffffff;
    border-bottom-style: none;
    border-right-style: none;
    background-color: #fcfcfc;
    margin: 0px;   
}
ion-fab[bottom] {
    bottom: 15px;
}
ion-fab[right] {
    right: 15px; 
}
.fab {
    text-align: center;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 56px;
}
.grid {
    padding: 0px;
    margin: 0px;
    width: 100%;    
}
.fab-md-light {
    color: #ffffff;
    //background: linear-gradient(150deg, #363333 40%, #ffffff);
    background: #ee1c26;
}
ion-fab-list[side=left] {
    margin: 0 70px;
    right: 0;
}
ion-fab-list {
    margin: 70px 0px 70px;
    position: absolute;
    top: 0  ;
    display: none;
    align-items: center;
    min-width: 70px;
    min-height: 56px;
}
.toolbar-title-md {
   padding: 0 12px;
   font-size: 2rem;
   font-weight: 500;
   color: #ffffff;
}
 .header-menu {
     padding: 0px;
     height: 135px;
 }
 .header-title-menu {
    text-align: left;
    font-size: 17px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background: #ee1c26;
    color: #ffffff;
}
 .content-header-title-list {
    font-size: 15px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #ee1c26;
    padding: 15px;
    margin-bottom: 0px;
    border: 2px;
    border-color: #ee1c26;
    
 }
 .content-body-list {
     font-size: 13px;
     font-family: "Roboto", "Helvetica Neue", sans-serif;
   // background: #ff2323;
 }
.content-menu {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 100%;
}
.content-footer-body-list {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
    background: #ee1c26;
    color: #ffffff;
    text-align: center;
    border-color: #ee1c26;  
}
.content-search {
    background: #ee1c26;    
    padding: 5px;
}
.side-title {
    text-align: center;
    margin-right: 80px;
}
.toolbar-scroll {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
    background: #ee1c26;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
}