<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="assets/imgs/logoatriawhite.png" height="45" />
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-segment [(ngModel)]="po">
    <ion-segment-button value="purchasingorder">
      Purchasing Order
    </ion-segment-button>
    <ion-segment-button value="infopo">
      Info PO
    </ion-segment-button>
    <ion-segment-button value="preparation">
      Preparation
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="po">

    <ion-list class="content-list-menu" *ngSwitchCase="'purchasingorder'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="width < 900" class="android-content">
        <div>
          <ion-item no-lines class="toolbar-scroll">Showing {{totaldata}} entries</ion-item>
        </div>
        <ion-item class="content-data-item" *ngFor="let po of purchasing_order">
          <ion-avatar item-start>
            <img src="assets/imgs/noimage.jpg" alt="">
          </ion-avatar>
          <div no-padding (click)="viewDetail(po)">
            <h2>No Order : {{po.order_no}}</h2>
            <ion-note>{{po.transfer_date}} | items : {{po.total_item}}</ion-note>
          </div>
          <button item-end ion-button clear color="greenlake" (click)="doOpenOptions(po)">
            <ion-icon name="md-more" style="font-size:30px;"></ion-icon>
          </button>
        </ion-item>
      </div>
      <div *ngIf="width >= 900" class="pc-content">
        <ion-grid>
          <ion-item no-lines style="margin-left:-1%;width:101%;border-bottom:1px solid;border-color:#dedede;">
            <ion-label style="margin-left:1%;">DATE :</ion-label>
            <ion-input style="border:0px;" type="date" [(ngModel)]="datearrivalPO" (ionChange)="selectdatePO(datearrivalPO)"></ion-input>
          </ion-item>
          <div class="content-search" style="width:100%;">
            <ion-searchbar (ionInput)="getSearchPO($event)" placeholder="Search PO Number"></ion-searchbar>
          </div>
          <ion-row class="row-content">
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPO('order_no')">No Order
              <ion-icon *ngIf="filter == 'order_no' && sortPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'order_no' && sortPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPO('doc_no')">No Document
              <ion-icon *ngIf="filter == 'doc_no' && sortPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'doc_no' && sortPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2>Description
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPO('total_item')">Items
              <ion-icon *ngIf="filter == 'total_item' && sortPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'total_item' && sortPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPO('transfer_date')">Estimated Time Of Arrival
              <ion-icon *ngIf="filter == 'transfer_date' && sortPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'transfer_date' && sortPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2>Options</ion-col>
          </ion-row>
          <ion-row class="row-content-list" *ngFor="let po of purchasing_order">
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetail(po)">
              {{po.order_no}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetail(po)">
              {{po.doc_no}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetail(po)">
              {{po.posting_desc}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetail(po)">
              {{po.total_item}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetail(po)">
              {{po.transfer_date}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2>
              <button ion-button clear color="greenlake" (click)="doUpdatePO(po)">
                <ion-icon name="md-pricetag" style="font-size:30px;"></ion-icon>
              </button>
              <button ion-button clear color="greenlake" (click)="doDeletePO(po)">
                <ion-icon name="md-trash" style="font-size:30px;"></ion-icon>
              </button>
              <button ion-button clear color="greenlake" (click)="doPostingPO(po)">
                <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
          loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list class="content-list-menu" *ngSwitchCase="'infopo'">
      <ion-refresher (ionRefresh)="doRefreshInfoPO($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="width < 900" class="android-content">
        <div>
          <ion-item no-lines class="toolbar-scroll">Showing {{totaldatainfopo}} entries</ion-item>
        </div>
        <ion-item class="content-data-item" *ngFor="let info of infopo">
          <ion-avatar item-start>
            <img src="assets/imgs/noimage.jpg" alt="">
          </ion-avatar>
          <div no-padding (click)="viewDetailInfoPO(info)">
            <h2>PO No : {{info.order_no}}</h2>
            <ion-note>PIC : {{info.pic}}</ion-note>
            <br>
            <ion-note>{{info.transfer_date}} | Items : {{info.total_item}}</ion-note>
          </div>
          <button item-end ion-button clear color="greenlake" (click)="doPostingInfoPO(info)">
            <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
          </button>
        </ion-item>
      </div>
      <div *ngIf="width >= 900" class="pc-content">
        <ion-grid>
          <ion-item no-lines style="margin-left:-1%;width:101%;border-bottom:1px solid;border-color:#dedede;">
            <ion-label style="margin-left:1%;">DATE :</ion-label>
            <ion-input style="border:0px;" type="date" [(ngModel)]="datearrivalInfoPO" (ionChange)="selectdateInfoPO(datearrivalInfoPO)"></ion-input>
          </ion-item>
          <div class="content-search" style="width:100%;">
            <ion-searchbar (ionInput)="getSearchInfoPO($event)" placeholder="Search PO Number"></ion-searchbar>
          </div>
          <ion-row class="row-content">
            <ion-col padding class="col-content" col-xl-2 (click)="doSortInfoPO('order_no')">PO No
              <ion-icon *ngIf="filter == 'order_no' && sortInfoPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'order_no' && sortInfoPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortInfoPO('doc_no')">No Document
              <ion-icon *ngIf="filter == 'doc_no' && sortInfoPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'doc_no' && sortInfoPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortInfoPO('total_item')">Items
              <ion-icon *ngIf="filter == 'total_item' && sortInfoPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'total_item' && sortInfoPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortInfoPO('transfer_date')">Estimated Time Of Arrival
              <ion-icon *ngIf="filter == 'transfer_date' && sortInfoPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'transfer_date' && sortInfoPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortInfoPO('status')">Status
              <ion-icon *ngIf="filter == 'status' && sortInfoPO == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'status' && sortInfoPO == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2>Options
            </ion-col>
          </ion-row>
          <ion-row class="row-content-list" *ngFor="let info of infopo">
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetailInfoPO(info)">
              {{info.order_no}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetailInfoPO(info)">
              {{info.doc_no}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetailInfoPO(info)">
              {{info.total_item}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetailInfoPO(info)">
              {{info.transfer_date}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="viewDetailInfoPO(info)">
              {{info.status}}
            </ion-col>
            <ion-col padding class="col-content" col-xl-2>
              <button *ngIf="info.status == 'INPG'" item-end ion-button clear color="greenlake" (click)="doListBarcode(info)">
                <ion-icon name="md-barcode" style="font-size:30px;"></ion-icon>
              </button>
              <button *ngIf="info.status == 'INP1'" item-end ion-button clear color="greenlake" (click)="doPostingInfoPO(info)">
                <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfiniteInfoPO($event)">
        <ion-infinite-scroll-content>
          loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list class="content-list-menu" *ngSwitchCase="'preparation'">
      <ion-refresher (ionRefresh)="doRefreshPrepare($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="width < 900" class="android-content">
        <div>
          <ion-item no-lines class="toolbar-scroll">Showing {{totaldatapreparation}} entries</ion-item>
        </div>
        <ion-item class="content-data-item" *ngFor="let prepare of preparation">
          <ion-avatar item-start>
            <img src="assets/imgs/noimage.jpg" alt="">
          </ion-avatar>
          <div no-padding (click)="viewDetailPrepare(prepare)">
            <h2>No Order : {{prepare.order_no}}</h2>
            <ion-note>{{prepare.transfer_date}} | Items : {{prepare.total_item}}</ion-note>
          </div>
        </ion-item>
      </div>
      <div *ngIf="width >= 900" class="pc-content">
        <ion-grid>
          <ion-item no-lines style="margin-left:-1%;width:101%;border-bottom:1px solid;border-color:#dedede;">
            <ion-label style="margin-left:1%;">DATE :</ion-label>
            <ion-input style="border:0px;" type="date" [(ngModel)]="datearrivalPrepare" (ionChange)="selectdatePrepare(datearrivalPrepare)"></ion-input>
          </ion-item>
          <div class="content-search" style="width:100%;">
            <ion-searchbar (ionInput)="getSearchPrepare($event)" placeholder="Search PO Number"></ion-searchbar>
          </div>
          <ion-row class="row-content">
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPrepare('order_no')">No Order
              <ion-icon *ngIf="filter == 'order_no' && sortPrepare == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'order_no' && sortPrepare == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPrepare('doc_no')">No Document
              <ion-icon *ngIf="filter == 'doc_no' && sortPrepare == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'doc_no' && sortPrepare == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPrepare('total_item')">Items
              <ion-icon *ngIf="filter == 'total_item' && sortPrepare == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'total_item' && sortPrepare == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPrepare('transfer_date')">Estimated Time Of Arrival
              <ion-icon *ngIf="filter == 'transfer_date' && sortPrepare == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'transfer_date' && sortPrepare == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2 (click)="doSortPrepare('status')">Status
              <ion-icon *ngIf="filter == 'status' && sortPrepare == 'ASC'" name="md-arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="filter == 'status' && sortPrepare == 'DESC'" name="md-arrow-dropup"></ion-icon>
            </ion-col>
            <ion-col padding class="col-content" col-xl-2>Options</ion-col>
          </ion-row>
          <ion-row class="row-content-list" *ngFor="let prepare of preparation">
            <ion-col *ngIf="prepare.total_item_post < prepare.total_item" padding class="col-content" col-xl-2 (click)="viewDetailPrepare(prepare)">
              {{prepare.order_no}}
            </ion-col>
            <ion-col *ngIf="prepare.total_item_post < prepare.total_item" padding class="col-content" col-xl-2 (click)="viewDetailPrepare(prepare)">
              {{prepare.doc_no}}
            </ion-col>
            <ion-col *ngIf="prepare.total_item_post < prepare.total_item" padding class="col-content" col-xl-2 (click)="viewDetailPrepare(prepare)">
              {{prepare.total_item}}
            </ion-col>
            <ion-col *ngIf="prepare.total_item_post < prepare.total_item" padding class="col-content" col-xl-2 (click)="viewDetailPrepare(prepare)">
              {{prepare.transfer_date}}
            </ion-col>
            <ion-col *ngIf="prepare.total_item_post < prepare.total_item" padding class="col-content" col-xl-2 (click)="viewDetailPrepare(prepare)">
              {{prepare.status}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfiniteAction($event)">
        <ion-infinite-scroll-content>
          loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'history'">
      <ion-item>

      </ion-item>
    </ion-list>

  </div>
</ion-content>
<div [ngSwitch]="po">
  <ion-fab *ngSwitchCase="'purchasingorder'" class="fixed-div" bottom right>
    <button ion-fab color="greenlake">
      <ion-icon name="md-apps"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab class="fab-list" color="primary" (click)="doAddPO()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <button ion-fab class="fab-list" color="secondary">
        <ion-icon name="md-download"></ion-icon>
      </button>
      <button ion-fab class="fab-list" color="danger" (click)="chooseFile()">
        <ion-icon name="md-cloud-upload"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</div>