<ion-header class="header-menu">
  <ion-navbar class="header-navbar" style="width:100%;">
    <div *ngIf="!toggled" class="logo-search" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <!--<img src="http://101.255.60.202/webapi/img/searching" height="25" (click)="toggleSearch()" />-->
        <ion-icon name="md-search" style="font-size:35px;"></ion-icon>
      </button>
    </div>
    <div *ngIf="toggled" style="text-align:right;height:0px;">
      <button ion-button clear style="color:#ffffff;background:transparent;font-size:25px;" (click)="toggleSearch()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    <button *ngIf="!toggled" ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </button>
    <ion-title class="side-title">
      <div *ngIf="!toggled" class="logo-atria">
        <img src="http://101.255.60.202/webapi/img/logoatriawhite" height="45" />
      </div>
      <div *ngIf="toggled" class="content-search" style="width:100%;">
        <ion-searchbar (ionInput)="getSearchPO($event)" placeholder="Search"></ion-searchbar>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-menu" no-padding>
  <ion-segment [(ngModel)]="po">
    <ion-segment-button value="preparationpo">
      Preparation PO
    </ion-segment-button>
    <ion-segment-button value="purchasingorder">
      Purchasing Order
    </ion-segment-button>
    <ion-segment-button value="history">
      History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="po">


    <ion-list class="content-list-menu" *ngSwitchCase="'preparationpo'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <div>
        <ion-item no-lines class="toolbar-scroll">Showing {{totaldata}} entries</ion-item>
      </div>
      <div *ngIf="width < 600" class="android-content">
        <!--<ion-item class="content-data-item" *ngFor="let po of purchasing_order">
          <ion-avatar item-start>
            <img src="http://101.255.60.202/webapi/img/{{po.vendor_status}}" alt="">
          </ion-avatar>
          <div no-padding (click)="viewDetail(po)">
            <h2>No Order : {{po.order_no}}</h2>
            <br/>
            <ion-note>{{po.posting_date}} | items : {{po.total_item}}</ion-note>
          </div>
          <button item-end ion-button clear color="secondary" (click)="doUpdatePO(po)">
            <ion-icon name="md-pricetag" style="font-size:30px;"></ion-icon>
          </button>
          <button item-end ion-button clear color="primary" (click)="doDeletePO(po)">
            <ion-icon name="md-trash" style="font-size:30px;"></ion-icon>
          </button>
          <button item-end ion-button clear color="delima" (click)="doPostingPO(po)">
            <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
          </button>
        </ion-item>-->
        <ion-item-sliding class="content-data-item" *ngFor="let po of purchasing_order">
          <ion-item>
            <ion-avatar item-start>
              <img src="http://101.255.60.202/webapi/img/{{po.vendor_status}}" alt="">
            </ion-avatar>
            <div no-padding (click)="viewDetail(po)">
              <h2>No Order : {{po.order_no}}</h2>
              <br/>
              <ion-note>{{po.posting_date}} | items : {{po.total_item}}</ion-note>
            </div>
          </ion-item>
          <ion-item-options style="background:#dedede;" side="right">
            <button item-end ion-button clear color="secondary" (click)="doUpdatePO(po)">
              <ion-icon name="md-pricetag" style="font-size:30px;"></ion-icon>Update
            </button>
            <button item-end ion-button clear color="primary" (click)="doDeletePO(po)">
              <ion-icon name="md-trash" style="font-size:30px;"></ion-icon>Delete
            </button>
            <button item-end ion-button clear color="delima" (click)="doPostingPO(po)">
              <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>Posting
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      <div *ngIf="width >= 600" class="pc-content">
        <ion-grid padding>
          <ion-row class="row-content">
            <ion-col padding style="background:transparent;color:#9e9fa1;border:0px;text-align:left;" col-xl-2>No Order</ion-col>
            <ion-col padding style="background:transparent;color:#9e9fa1;border:0px;text-align:left;" col-xl-2>No Document</ion-col>
            <ion-col padding style="background:transparent;color:#9e9fa1;border:0px;text-align:left;" col-xl-2>Description</ion-col>
            <ion-col padding style="background:transparent;color:#9e9fa1;border:0px;text-align:left;" col-xl-2>Items</ion-col>
            <ion-col padding style="background:transparent;color:#9e9fa1;border:0px;text-align:left;" col-xl-2>Posting Date</ion-col>
            <ion-col padding style="background:transparent;color:#9e9fa1;border:0px;text-align:left;" col-xl-2>Options</ion-col>
          </ion-row>
          <ion-row class="row-content-list" *ngFor="let po of purchasing_order" (click)="viewDetail(po)">
            <ion-col padding style="background:transparent;border:0px;color:#ffffff;" col-xl-2>
              {{po.order_no}}
            </ion-col>
            <ion-col padding style="background:transparent;border:0px;color:#ffffff;" col-xl-2>
              {{po.doc_no}}
            </ion-col>
            <ion-col padding style="background:transparent;border:0px;color:#ffffff;" col-xl-2>
              {{po.posting_desc}}
            </ion-col>
            <ion-col padding style="background:transparent;border:0px;color:#ffffff;" col-xl-2>
              {{po.total_item}}
            </ion-col>
            <ion-col padding style="background:transparent;border:0px;color:#ffffff;" col-xl-2>
              {{po.posting_date}}
            </ion-col>
            <ion-col padding style="background:transparent;border:0px;color:#ffffff;" col-xl-2>
              <button ion-button clear color="secondary" (click)="doUpdatePO(po)">
                <ion-icon name="md-pricetag" style="font-size:30px;"></ion-icon>
              </button>
              <button ion-button clear color="primary" (click)="doDeletePO(po)">
                <ion-icon name="md-trash" style="font-size:30px;"></ion-icon>
              </button>
              <button ion-button clear color="delima" (click)="doPostingPO(po)">
                <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-fab class="fixed-div" bottom right>
        <button ion-fab color="greenlake">
          <ion-icon name="md-apps"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab color="primary" (click)="doAddPO()">
            <ion-icon name="md-add"></ion-icon>
          </button>
          <button ion-fab color="secondary">
            <ion-icon name="md-download"></ion-icon>
          </button>
          <button ion-fab color="danger" (click)="chooseFile()">
            <ion-icon name="md-cloud-upload"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
          loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list class="content-list-menu" *ngSwitchCase="'purchasingorder'">
      <ion-refresher (ionRefresh)="doRefreshAction($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
        </ion-refresher-content>
      </ion-refresher>
      <div>
        <ion-item no-lines class="toolbar-scroll">Showing {{totaldataaction}} entries</ion-item>
      </div>
      <div class="android-content">
        <ion-item class="content-data-item" *ngFor="let poact of purchasing_order_action">
          <ion-avatar item-start>
            <img src="http://101.255.60.202/webapi/img/{{poact.vendor_status}}" alt="">
          </ion-avatar>
          <div no-padding (click)="viewDetailAction(poact)">
            <h2>No Order : {{poact.order_no}}</h2>
            <br/>
            <ion-note>{{poact.posting_date}} | Items : {{poact.total_item}}</ion-note>
          </div>
          <button item-end ion-button clear color="delima" (click)="doPostingRCV(poact)">
            <ion-icon name="md-checkmark-circle-outline" style="font-size:30px;"></ion-icon>
          </button>
        </ion-item>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfiniteAction($event)">
        <ion-infinite-scroll-content>
          loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'history'">
      <ion-item>

      </ion-item>
    </ion-list>

  </div>
</ion-content>