page-dashboardtask {
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background-color: #343d46;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
}
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #a3a3a3;
    display: block;
    transition: 0.3s;
    border-bottom:1px solid;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    margin-left:250px;
}
}
